<h2 mat-dialog-title>Create Order</h2>
<div mat-dialog-content>
  <div layout="row">
    <mat-form-field appearance="standard" class="input-full-width">
      <mat-label>Order Code</mat-label>
      <input matInput placeholder="Order's code">
    </mat-form-field>
  </div>
  
  <div layout="row">
    <mat-form-field class="input-full-width">
      <mat-label>Type</mat-label>
      <mat-select placeholder="Type of order">
        <mat-option value="option">Shipping</mat-option>
        <mat-option value="option">Retails</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field class="input-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Creation Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field class="input-full-width">
      <mat-label>Customer</mat-label>
      <mat-select placeholder="Type of order">
        <mat-option value="option">Thuong Vy 1</mat-option>
        <mat-option value="option">Thuong Vy 2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field appearance="standard" class="input-full-width">
      <mat-label>Total</mat-label>
      <input matInput readonly="true" value="0.0">
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field class="input-full-width">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Type of order">
        <mat-option value="option">On Creation</mat-option>
        <mat-option value="option">Submitted</mat-option>
        <mat-option value="option">Wait for check</mat-option>
        <mat-option value="option">Being checked</mat-option>
        <mat-option value="option">Confirmed</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button>Add</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>