<h2 mat-dialog-title>Create Item</h2>
<div mat-dialog-content>
    <!-- <div id="interactive" class="viewport row">
      <video autoplay="true" preload="auto" class="input-full-width"></video>
    </div> -->
  <div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>
  <div layout="row">
    <mat-form-field class="input-full-width">
      <mat-label>Barcode</mat-label>
      <input matInput placeholder="Item's barcode" readonly="readonly" [(ngModel)]="item.barcode">
    </mat-form-field>
  </div>
  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Description" [(ngModel)]="item.description">
      </mat-form-field>
  </div>

  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Buy Price" [(ngModel)]="item.priceIn">
      </mat-form-field>
  </div>

  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Sell Price" [(ngModel)]="item.priceOut">
      </mat-form-field>
  </div>
  
  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="In Stock" [(ngModel)]="item.inStock">
      </mat-form-field>
  </div>

  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Unit" [(ngModel)]="item.unit">
      </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="createItem()">Add</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>

