<h2 mat-dialog-title>{{ title }}</h2>

<mat-progress-bar mode="indeterminate" *ngIf="loadingItem"></mat-progress-bar>

<div mat-dialog-content>
    <!-- <div id="interactive" class="viewport row">
      <video autoplay="true" preload="auto" class="input-full-width"></video>
    </div> -->
  <div *ngIf="!show">
    <div layout="row" style="margin-bottom: 10px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Item Images
          </mat-panel-title>
          <mat-panel-description>
            Click To View
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div *ngFor="let itemImageURL of itemImageURLs">
          <img [src]="itemImageURL" class="rounded" alt="Item Image" style="max-width: 337px; max-height: 168.5px; margin-bottom: 10px;" (click)="image()" (load)="dosomething()">
        </div>
      </mat-expansion-panel>
    </div>
  </div>

  <div layout="row">
    <mat-form-field class="input-full-width">
      <mat-label>Barcode</mat-label>
      <input matInput #barcode placeholder="Item's barcode" [(ngModel)]="item.barcode" (keydown.enter)="detectBarcode(barcode.value)">
    </mat-form-field>
  </div>
  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Description" [(ngModel)]="item.description" [disabled]="isDisabled()">
      </mat-form-field>
  </div>

  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Buy Price" [(ngModel)]="item.priceIn" [disabled]="isDisabled()">
      </mat-form-field>
  </div>

  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Sell Price" [(ngModel)]="item.priceOut" [disabled]="isDisabled()">
      </mat-form-field>
  </div>
  
  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="In Stock" [(ngModel)]="item.inStock" [disabled]="isDisabled()">
      </mat-form-field>
  </div>

  <div layout="row">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Unit" [(ngModel)]="item.unit" [disabled]="isDisabled()">
      </mat-form-field>
  </div>
  <div *ngIf="fromOrderDetails">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Quantity" [(ngModel)]="quantity">
    </mat-form-field>
  </div>
  <div *ngIf="!fromOrderDetails">
    <label for="file">Choose File</label>
    <input type="file"
          id="file"
          (change)="handleFileInput($event.target.files)"
          multiple
          style="margin-bottom: 10px;">
  </div>
</div>
<div *ngIf="filesToUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
</div>
  
<div mat-dialog-actions *ngIf="show && !fromOrderDetails" align="center">
  <button mat-button (click)="createItem()">Add to DB</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>
<div mat-dialog-actions *ngIf="!show" align="center">
  <button mat-button (click)="editItem()">Edit</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>

<div mat-dialog-actions *ngIf="show && fromOrderDetails" align="center">
  <button mat-button (click)="addToOrder()">Add to order</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>
