.input-full-width {
    width:100%;
}

video {
    background-color: gray;
    max-height: 200px;
}

div.viewport {
    max-height: 200px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
  