<div class="container">
  <h3>Order List</h3>
  <input type="text" class="form-control" placeholder="Search for...">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#
        </th>
        <th scope="col">Code
        </th>
        <th scope="col">Created Date
        </th>
        <th scope="col">Customer
        </th>
        <th scope="col">Type
        </th>
        <th scope="status">Status
        </th>
      </tr>
    </thead>
    <tbody *ngIf="show">
      <tr *ngFor="let order of orders | paginate: config; index as i" (click)="tableRowClick(order.code)">
        <th scope="row">{{ i + 1 + (page - 1) * 10 }}</th>
        <td>{{ order.code }}</td>
        <td>{{ order.createdDate | date:'mediumDate' }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.type }}</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChange($event)" class="my-pagination" responsive="true" maxSize="5"></pagination-controls>

  <button (click)="openDialog()" class="btn btn-primary">Add</button>
</div>
<!-- <div id="interactive" class="viewport">
  <video autoplay="true" preload="auto"></video>
</div> -->