.mat-row:hover {
    background-color: aliceblue;
}

mat-table, mat-toolbar {
    width: 100%;
}

mat-toolbar {
    margin-bottom: 10px;
}

mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}