<div mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <h3>Orders Info</h3>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Order Basic Information
      </mat-panel-title>
      <mat-panel-description>
        Click To View
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field appearance="standard" class="input-full-width">
      <mat-label>Order Code</mat-label>
      <input matInput placeholder="Order's code" readonly="readonly" [(ngModel)]="order.code" disabled>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Type</mat-label>
      <mat-select placeholder="Type of order" [(ngModel)]="order.type">
        <mat-option [value]="type.name" *ngFor="let type of typeArr">{{ type.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Creation Date" [(ngModel)]="order.createdDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Customer</mat-label>
      <mat-select placeholder="Type of order" [(ngModel)]="order.customer">
        <mat-option [value]="customer.name" *ngFor="let customer of customerArr">{{ customer.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Checker</mat-label>
      <mat-select placeholder="Status of order" [(ngModel)]="order.checker">
        <mat-option [value]="checker.name" *ngFor="let checker of checkerArr">{{ checker.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Status of order" [(ngModel)]="order.status">
        <mat-option [value]="status.name" *ngFor="let status of statusArr">{{ status.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions align="center">
      <button mat-button (click)="updateOrderInfo()">Update</button>
    </div>
  </mat-expansion-panel>

  <h3>Items</h3>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        List of Items
      </mat-panel-title>
      <mat-panel-description>
        Click To View
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table>
      <thead>
        <tr>
          <th>Barcode</th>
          <th>Description</th>
          <th>Unit</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th><button class="btn"><i class="fa fa-plus" style="color:green;" (click)="itemAddClick()"></i></button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items;">
            <td>{{ item.barcode }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.price * item.quantity |  number : '1.2' }}</td>
            <td><button class="btn"><i class="fa fa-close" style="color:red;" (click)="itemRemoveClick(item.barcode)"></i></button></td>
        </tr>
      </tbody>
    </table>

  </mat-expansion-panel>

  <mat-form-field appearance="standard" class="input-full-width" style="color:green; font-size: 20pt">
    <mat-label>Total</mat-label>
    <input matInput readonly="true" [ngModel]="total | number : '1.2'" (ngModelChange)="total=$event">
  </mat-form-field>

</div>